*~
*.out
*.bak
*.out
*.o
*.DS_Store
*.aux
*.log
*.dat
*.bbl
*.bcf
*.blg
*.xml
PI*
lab5-matmul/A.txt
lab5-matmul/originalA.txt
lab5-matmul/B.txt
lab5-matmul/originalB.txt
lab5-matmul/C.txt
lab5-matmul/originalC.txt
lab5-matmul/txts
